@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.headlineText {
  font-size: 3rem;
  font-weight: bold;
}
.leftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-top: 50px;
}
.leftBox p {
  width: 350px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.getProvedBtn {
  width: 300px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 6px;
  color: white;
  font-family: "Poppins";
  padding-bottom: 1rem;
  background-color: #313030;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.rightBox img {
  height: 340px;
  width: 500px;
  margin-top: 50px;
  border-radius: 6px;
  margin-left: 140px;
  box-shadow: 4px 4px 8px 2px black;
  transition: 0.3s ease-in-out;
}

.rightBox img:hover {
  transform: scale(1.03);
}

.getProvedBtn:hover {
  background-color: #242424;
}
